$secondary:#3F3D56;
$desktop:1200px;
$laptop:1024px;
$tablet:836px;
$phone:500px;


body {
    font-family:'Raleway', sans-serif;
        
}




header {
    display:flex;
    height:200px;
    padding:30px;
    align-items:center;
    .logo-holder {
        flex:0.9;
        display:flex;
        justify-content: center;
    }
    .mainpicholder{
        position:absolute; 
        left:465px; 
        top:-30px; 
        height:20px;
        z-index: -3; 
        @media screen and (min-width:$desktop){
            position:absolute; 
            left:590px; 
            top:-30px; 
            height:20px;
            z-index: -3; 
            
        }
        @media screen and (max-width:$tablet){
            
            display:none;
        }
        
            
            
            
        
    }
    .mobilepicholder {
            
       
        @media screen and(max-width:$phone){
            position:absolute;
            left:150px;
            z-index: -3;
            top:110px;
        }
        
        @media screen and(min-width:$phone){
            display: none;
        }
        

    }
    


    margin-right:30px;
    nav {
        flex:0.99;
        display:flex;
        justify-content: center;
        ul {
            list-style:none;
            margin:0px;
            padding: 0px;
            li {
                display:inline-block;
                font-size:20px;
                a {
                    display:inline-block;
                    color:#363636;
                    padding: 8px 16px;
                    font-weight:bold;
                }
                &.active {
                    a {
                      background:$secondary;
                      font-weight:bold;
                      border-radius:1.5em;
                      color:#FFFFFF;
                      

                    }
                    
                } 
            }
        }
    }
}

.ipadpic {
    @media screen and (max-width:$phone){
        display:none;
    }    
    
    @media screen and (max-width:$tablet){
        position:absolute;
        left:340px;
        z-index: -3;
        top:190px;
        
    }
    
    @media screen and(min-width:$tablet){
        
        display:none;
    }
    

}
h3{
    font-weight: bold;
}
body {
    margin-left: 100px;
    margin-bottom: 50px;
}
input[type=text], select, textarea, input{
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
    
    
  }
  
  input[type=submit], button{
    background-color: $secondary;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 1em;
    font-weight: bold;
  } 