body {
  font-family: 'Raleway', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

header .logo-holder {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .mainpicholder {
  position: absolute;
  left: 465px;
  top: -30px;
  height: 20px;
  z-index: -3;
}

@media screen and (min-width: 1200px) {
  header .mainpicholder {
    position: absolute;
    left: 590px;
    top: -30px;
    height: 20px;
    z-index: -3;
  }
}

@media screen and (max-width: 836px) {
  header .mainpicholder {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header .mobilepicholder {
    position: absolute;
    left: 150px;
    z-index: -3;
    top: 110px;
  }
}

@media screen and (min-width: 500px) {
  header .mobilepicholder {
    display: none;
  }
}

header nav {
  -webkit-box-flex: 0.99;
      -ms-flex: 0.99;
          flex: 0.99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

header nav ul li {
  display: inline-block;
  font-size: 20px;
}

header nav ul li a {
  display: inline-block;
  color: #363636;
  padding: 8px 16px;
  font-weight: bold;
}

header nav ul li.active a {
  background: #3F3D56;
  font-weight: bold;
  border-radius: 1.5em;
  color: #FFFFFF;
}

@media screen and (max-width: 500px) {
  .ipadpic {
    display: none;
  }
}

@media screen and (max-width: 836px) {
  .ipadpic {
    position: absolute;
    left:267px;
    z-index: -3;
    top: 190px;
  }
}

@media screen and (min-width: 836px) {
  .ipadpic {
    display: none;
  }
}


.content {
  position:absolute;
  left: -44px;
  right: 50px;
  top: -95px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 95px;
  padding-top: 250px;
}


@media screen and (max-width: 836px) {
  .content {
    padding-top: 243px;
    
    padding-left: 89px;
    
  }
}

@media screen and (max-width: 500px) {
  .content {
      padding-top: 88px;
      padding-left: 0px;
     
  }
  
}



.content .title {
  font-size: 36px;
  padding-left: 10px;
  font-weight: bold;
  /* padding: 1px; */
  inline-size: 250px;
}

.content .subtitle {
  font-size: 18px;
  inline-size: 250px;
  overflow-wrap: break-word;
  padding: 10px;
}

.content .btn {
  background: #3F3D56;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 1.6em;
  padding: 1em;
  color: #FFFFFF;
  -ms-flex-item-align: start;
      align-self: flex-start;
  inline-size: 250px;
  

    
}

.icons a {
  color: #3F3D56;
  font-size: 35px;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
}



@media screen and (max-width: 500px) {
  .icons a {
    color: #d23b78;
    font-size: 35px;
    margin: px;
    padding: 1px;
    background-color: transparent;
  }
}

.listofthings {
  margin-top: 720px;
  text-align: center;
}

@media screen and (max-width: 836px) {
  .listofthings {
    margin-top: 700px;
  }
}

@media screen and (max-width: 500px) {
  .listofthings {
    margin-top: 620px;
  }
}

.listofthings .title {
  font-size: 26px;
  font-weight: bolder;
  padding-left: 590px;
  white-space: nowrap;
}

@media screen and (max-width: 836px) {
  .listofthings .title {
    font-size: 26px;
    font-weight: bolder;
    padding-left: 50px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 500px) {
  .listofthings .title {
    font-size: 26px;
    font-weight: bolder;
    padding-left: 50px;
    white-space: nowrap;
  }
}

.container {
  text-align: center;
  margin-top: 70px;
  inline-size: 450px;
  margin-left: 830px;
}

@media screen and (max-width: 1200px) {
  .container {
    text-align: center;
    margin-top: 70px;
    inline-size: 500px;
    margin-left: 800px;
  }
}

@media screen and (max-width: 836px) {
  .container {
    margin-left: 550px;
    margin-top: 50px;
    inline-size: 200px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin-left: 290px;
    margin-top: 155px;
    inline-size: 200px;
  }
}

.secondcontainer {
  text-align: center;
  margin-top: 70px;
  inline-size: 680px;
  margin-left: 300px;
}

@media screen and (max-width: 1200px) {
  .secondcontainer {
    text-align: center;
    margin-top: 70px;
    inline-size: 500px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 836px) {
  .secondcontainer {
    text-align: center;
    margin-top: 70px;
    inline-size: 200px;
    margin-left: 170px;
  }
}

@media screen and (max-width: 500px) {
  .secondcontainer {
    text-align: center;
    margin-top: 10px;
    inline-size: 200px;
    margin-left: 30px;
  }
}

.thirdcontainer {
  text-align: center;
  margin-top: 80px;
  inline-size: 680px;
  margin-left: 750px;
}

@media screen and (max-width: 1200px) {
  .thirdcontainer {
    text-align: center;
    margin-top: 120px;
    inline-size: 500px;
    margin-left: 750px;
  }
}

@media screen and (max-width: 836px) {
  .thirdcontainer {
    text-align: center;
    margin-top: 80px;
    inline-size: 200px;
    margin-left: 550px;
  }
}

@media screen and (max-width: 500px) {
  .thirdcontainer {
    text-align: center;
    margin-top: 230px;
    inline-size: 450px;
    margin-left: 25px;
  }
}

.strategy {
  font-weight: bold;
  font-size: 20px;
}

p {
  font-size: 18px;
}

.imageone {
  position: absolute;
  right: 650px;
  top: 900px;
  height: 0px;
  z-index: -3;
}

@media screen and (max-width: 1200px) {
  .imageone {
    position: absolute;
    right: 500px;
    top: 890px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 836px) {
  .imageone {
    position: absolute;
    right: 500px;
    top: 890px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 500px) {
  .imageone {
    position: absolute;
    right: 220px;
    top: 700px;
    height: 0px;
    z-index: -3;
  }
}

.imagetwo {
  position: absolute;
  right: 250px;
  top: 1090px;
  height: 0px;
  z-index: -3;
}

@media screen and (max-width: 1200px) {
  .imagetwo {
    position: absolute;
    right: 30px;
    top: 1170px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 836px) {
  .imagetwo {
    position: absolute;
    right: 320px;
    top: 1200px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 500px) {
  .imagetwo {
    position: absolute;
    right: 150px;
    top: 1020px;
    height: 0px;
    z-index: -3;
  }
}

.imagethree {
  position: absolute;
  right: 615px;
  top: 1455px;
  height: 0px;
  z-index: -3;
}

@media screen and (max-width: 1200px) {
  .imagethree {
    position: absolute;
    right: 500px;
    top: 1590px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 836px) {
  .imagethree {
    position: absolute;
    right: 520px;
    top: 1615px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 500px) {
  .imagethree {
    position: absolute;
    right: 220px;
    top: 1380px;
    height: 0px;
    z-index: -3;
  }
}

.contactcontainer {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contactcontainer .contacts {
  font-size: 35px;
}

.contactcontainer .btn {
  background: #3F3D56;
  border-radius: 1.5em;
  padding: 1em;
  color: #FFFFFF;
}

.contactimagedesktop {
  position: absolute;
  left: 475px;
  top: 1400px;
  height: 0px;
  z-index: -5;
}

@media screen and (min-width: 1200px) {
  .contactimagedesktop {
    position: absolute;
    left: 598px;
    top: 1300px;
    height: 0px;
    z-index: -5;
  }
}

@media screen and (max-width: 836px) {
  .contactimagedesktop {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .contactimagedesktop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */