body {
  font-family: 'Raleway', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

header .logo-holder {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav {
  -webkit-box-flex: 0.99;
      -ms-flex: 0.99;
          flex: 0.99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

header nav ul li {
  display: inline-block;
  font-size: 20px;
}

header nav ul li a {
  display: inline-block;
  color: #363636;
  padding: 8px 16px;
  font-weight: bold;
}

header nav ul li.active a {
  background: #3F3D56;
  font-weight: bold;
  border-radius: 1.5em;
  color: #FFFFFF;
}

.content {
  position: absolute;
  left: 0;
  right: 50%;
  top: 10px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-left: 95px;
  padding-top: 150px;
}

@media screen and (max-width: 836px) {
  .content {
    padding-top: 150px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    position: absolute;
    padding-top: 150px;
    padding-left: 50px;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 50%;
  }
}

.content .title {
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  inline-size: 250px;
  margin-bottom: 400px;
  margin-left: 0px;
  text-align: center;
}

@media screen and (max-width: 836px) {
  .content .title {
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    inline-size: 250px;
    margin-bottom: 400px;
    margin-left: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .content .title {
    font-size: 36px;
    font-weight: bold;
    inline-size: 200px;
    margin-bottom: 400px;
    margin-left: 0px;
    text-align: left;
  }
}

.content .subtitle {
  font-size: 18px;
  inline-size: 500px;
  overflow-wrap: break-word;
  padding: 1px;
  margin-top: 67px;
  margin-left: -190px;
}

@media screen and (max-width: 1200px) {
  .content .subtitle {
    font-size: 18px;
    inline-size: 500px;
    overflow-wrap: break-word;
    padding: 1px;
    margin-top: 67px;
    margin-left: -180px;
  }
}

@media screen and (max-width: 836px) {
  .content .subtitle {
    font-size: 18px;
    inline-size: 500px;
    overflow-wrap: break-word;
    margin-top: 67px;
    margin-left: -160px;
  }
}

@media screen and (max-width: 500px) {
  .content .subtitle {
    font-size: 18px;
    inline-size: 500px;
    overflow-wrap: break-word;
    margin-top: 67px;
    margin-right: -90px;
  }
}

.firstcontainer {
  text-align: center;
  margin-top: 70px;
  inline-size: 680px;
  margin-left: 750px;
}

@media screen and (max-width: 1200px) {
  .firstcontainer {
    text-align: center;
    margin-top: 120px;
    inline-size: 400px;
    margin-left: 750px;
  }
}

@media screen and (max-width: 836px) {
  .firstcontainer {
    text-align: center;
    margin-top: 80px;
    inline-size: 200px;
    margin-left: 450px;
  }
}

@media screen and (max-width: 500px) {
  .firstcontainer {
    text-align: center;
    margin-top: 210px;
    inline-size: 250px;
    margin-left: 80px;
  }
}

.firstcontainer .btn {
  background: #3F3D56;
  border-radius: 1.5em;
  padding: 1em;
  color: #FFFFFF;
}

.secondcontainer {
  text-align: center;
  margin-top: 70px;
  inline-size: 680px;
  margin-left: 750px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1200px) {
  .secondcontainer {
    text-align: center;
    margin-top: 120px;
    inline-size: 400px;
    margin-left: 750px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 836px) {
  .secondcontainer {
    text-align: center;
    margin-top: 80px;
    inline-size: 200px;
    margin-left: 450px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 500px) {
  .secondcontainer {
    text-align: center;
    margin-top: 210px;
    inline-size: 250px;
    margin-left: 80px;
    padding-bottom: 100px;
  }
}

.secondcontainer .btn {
  background: #3F3D56;
  border-radius: 1.5em;
  padding: 1em;
  color: #FFFFFF;
}

.strategy {
  font-weight: bold;
  font-size: 20px;
}

p {
  font-size: 18px;
}

.imageone {
  position: absolute;
  right: 950px;
  top: 290px;
  height: 0px;
  z-index: -3;
  width: 10px;
}

@media screen and (max-width: 1200px) {
  .imageone {
    position: absolute;
    right: 745px;
    top: 370px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 836px) {
  .imageone {
    position: absolute;
    right: 545px;
    top: 290px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 500px) {
  .imageone {
    position: absolute;
    right: 275px;
    top: 290px;
    height: 0px;
    z-index: -3;
  }
}

.imagetwo {
  position: absolute;
  right: 950px;
  top: 530px;
  height: 0px;
  z-index: -3;
  width: 10px;
}

@media screen and (max-width: 1200px) {
  .imagetwo {
    position: absolute;
    right: 745px;
    top: 750px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 836px) {
  .imagetwo {
    position: absolute;
    right: 545px;
    top: 600px;
    height: 0px;
    z-index: -3;
  }
}

@media screen and (max-width: 500px) {
  .imagetwo {
    position: absolute;
    right: 275px;
    top: 690px;
    height: 0px;
    z-index: -3;
  }
}
/*# sourceMappingURL=workstyle.css.map */